/*=================== Typography ================*/

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

h1 {
    text-align: left;
    font-size: 3vw;
}

h2 { 
    text-align: center;
}


main{
    align-items: center;
}

.resultsDiv{
    white-space:  pre-wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sportDiv h3 {
    font-size: 1vw;
}

.sportDiv {
    font-size: 0.8vw;
    margin: 0cm;
    background-color:rgba(255, 255, 255, 1);
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
}

#teamResultsDiv p{
    font-size: 0.8vw;
}

#resultsDiv p {
    font-size: 0.95vw;
}


/*======================= Colors & Background ========================== */

header{
    background-color:rgba(200, 200, 200, 0.9); 
}

body {
    background: linear-gradient(transparent ,white 90%), url(images/uk.png);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover
}

main{
    background-color:rgba(255, 255, 255, 0.9);
}

.resultsDiv{
    background-color:rgba(200, 200, 200, 1);
}

.sportDiv {
    font-kerning: none;
    flex-grow: 1;
    letter-spacing: 0px;
    background-color:rgba(255, 255, 255, 1);
}

/* =============== padding & layout ============== */


.resultsDiv{
    padding: 0.1cm;
    flex-grow: 2

}

#logo {
    width: 75px;
    height: 100px;
    padding-left: 4mm;
    padding-right: 4mm;
}
#allreturn {
    width: 1200px;
    display: flex;
    align-content: stretch;
    align-items: flex-end;
    flex-wrap: wrap;
}

#page-title {
    display: flex;
    align-content: stretch; 
}

header{
    align-content: stretch;
    display: flex;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

body {
    padding-right: 1.5cm;
    padding-left: 1.5cm;
}

main{
    padding-right: 0.1cm;
    padding-left: 0.1cm;
    padding-bottom: 0.25cm;
    padding-top: 0.25cm;
    align-items: center;
}

.resultsDiv{
    padding: 0.3cm; 
    margin: 0.3cm;
}

.sportDiv {
    padding-left: 0.1cm;
    padding-right: 0.1cm;
    margin: 0cm;
}